
<header class="w3-container w3-theme-l3">
  <h1>{{model.food.name}}</h1>
</header>
<div class="w3-container">
  {{icon-image model.food.imageUrl float='left'}}
  <p>
    {{model.food.description}}
  </p>
  <p>
    Served at: {{model.food.restaurant.name}} as a {{model.food.course}}
  </p>
</div>
