<div class="w3-container">
  <div class="w3-bar w3-border w3-round w3-light-grey">
    <div class="pageHeading w3-theme">
      Chef Tracker
    </div>
    {{link-to 'Chefs' 'chefs' class="w3-bar-item w3-button"}}
    {{link-to 'About' 'about' class="w3-bar-item w3-button"}}
    {{link-to 'Chef Training' 'training' class="w3-bar-item w3-button"}}
    {{link-to 'Restaurants' 'restaurants' class="w3-bar-item w3-button"}}
  </div>

  {{outlet}}
</div>
