{{comment.message}}
<div class="pull-right" style="float:right; margin-right:1.5em;">
  <button {{action 'toggleIsEditting'}} class="w3-button w3-gray w3-round w3-padding-small w3-small" title="Edit this comment"><i class="fa fa-pencil" aria-hidden="true"></i></button>
  <button {{action 'deleteComment' comment}} class="w3-button w3-red w3-round w3-padding-small w3-small" title="Delete this comment"><i class="fa fa-trash" aria-hidden="true"></i></button>
  <button {{action 'toggleAdding'}} class="w3-button w3-gray w3-round w3-padding-small" title="Add a comment"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
</div>
{{#if isAdding}}
  {{comment/edit-comment changeset=(changeset post) post=comment toggleIsEditting=(action 'toggleAdding') addComment=(action 'addComment')  addingComment=true}}
{{/if}}
{{yield}}
