<div class=" w3-card">

  <header class="w3-container w3-theme-l1">
    <h4>{{post.title}}</h4>
  </header>
  {{#if isEditting}}
    {{post/edit-post changeset=(changeset post) toggleEdit=(action 'toggleEdit')}}
  {{else}}
    {{post/show-post post=post toggleEdit=(action 'toggleEdit')}}
  {{/if}}
</div>
{{comment/comment-main post=post addComment=(action 'addComment') }}
