<h1>Marks Blargh</h1>
<div class="new-post">
  <h3>New blog post</h3>
    <p>
      {{input placeholder="Title" value=newTitle width="300px" size="50"}}
    </p>
    <p>
      {{textarea placeholder="Body (Markdown allowed)" value=newBody cols="52" rows="10"}}
    </p>
    <button {{action "addPost"}}  class="pull-right">Add Post</button>
</div>

{{#each model.posts as |post|}}
  <div class="post">

    <h3>{{post.title}}</h3>
    <p>
      {{markdown-to-html post.body}}
    </p>
    <button {{action 'deletePost' post}} class="pull-right">Delete</button>
  </div>
{{/each}}
{{outlet}}
