<div class="w3-container w3-card-4">
  <div class="float-right">Open {{model.restaurant.yearsOpen}} years </div>
  <h2> {{model.restaurant.name}}</h2>
  {{#link-to 'restaurants.restaurant.edit' model.restaurant.id}}<button>Edit</button>{{/link-to}}
  {{#if model.restaurant.user}}
    <div>
      Owner:  {{model.restaurant.user.displayName}}
      {{#if (eq model.restaurant.user.id mySession.currentUser.id)}}
        &nbsp; - &nbsp; <button {{action 'sellRestaurant' model.restaurant}}>Sell</button>
      {{/if}}
    </div>
  {{else}}
    <div>
      Restaurant on the market:  <button {{action 'buyRestaurant' model.restaurant}}>Buy</button>
    </div>
  {{/if}}
  <p>The follwoing chefs serve here:</p>

  {{#each model.restaurant.chefs as |chef|}}
    <div class="w3-container w3-card-4">
      {{#link-to 'chefs.chef' chef.id}}{{chef.name}}{{/link-to}}<br/>
    </div>
  {{/each}}
  <p>
    Health of Food - Max: {{model.restaurant.maxHealthRatings}}
    {{#if (gt model.restaurant.chefs.length 1)}}
      Average: {{round model.restaurant.avgHealthRatings 2}}<br/>
      {{rating-bar model.restaurant.avgHealthRatings 300 color='blue'}}
    {{else}}
      <br/>
    {{/if}}
    Fame of Chefs - Max: {{model.restaurant.maxFameRatings}}
    {{#if (gt model.restaurant.chefs.length 1)}}
      Average: {{round model.restaurant.avgFameRatings 2}}
      {{rating-bar model.restaurant.avgFameRatings 300 color='green'}}
    {{/if}}
  </p>
</div>
