<div class="w3-container w3-card-4">
  <div class="float-right">Open {{model.restaurant.yearsOpen}} years </div>
  <h2> {{model.restaurant.name}}</h2>
  {{#link-to 'restaurants.restaurant.edit' model.restaurant.id}}<button>Edit</button>{{/link-to}}

  <p>The follwoing chefs serve here:</p>

  {{#each model.restaurant.chefs as |chef|}}
    <div class="w3-container w3-card-4">
      {{#link-to 'chefs.chef' chef.id}}{{chef.name}}{{/link-to}}<br/>
    </div>
  {{/each}}
  <p>
    Health of Food - Max: {{model.restaurant.maxHealthRatings}}  Average: {{round model.restaurant.avgHealthRatings 2}}<br/>
    Fame of Chefs - Max: {{model.restaurant.maxFameRatings}}  Average: {{round model.restaurant.avgFameRatings 2}}
  </p>
</div>
