<div class="w3-container">
  <div class="w3-bar w3-border w3-round w3-light-grey">
    <div class="pageHeading w3-theme">
      <h1>Menu Tracker</h1>
    </div>
    {{link-to 'Restaurants' 'restaurants' class="w3-bar-item w3-button"}}
    {{link-to 'Foods' 'foods' class="w3-bar-item w3-button"}}
    <span class='pull-right'>
    {{link-to 'About' 'about' class="w3-bar-item w3-button"}}
    {{link-to 'Contact us' 'contact' class="w3-bar-item w3-button"}}
    {{#if mySession.currentUser}}
      <div  class="w3-bar-item w3-button">
        Welcome {{mySession.currentUser.displayName}}!
      </div>{{!--  {{link-to 'Logout' 'logout' class="w3-bar-item w3-button"}} --}}
    {{else}}
      {{link-to 'Login' 'login' class="w3-bar-item w3-button"}}
    {{/if}}
    </span>

  </div>


  {{outlet}}

</div>
