<div class="w3-container">
  <div class="w3-bar w3-border w3-round w3-light-grey">
    <div class="pageHeading w3-theme">
      <h1>Menu Tracker</h1>
    </div>
    {{link-to 'Restaurants' 'restaurants' class="w3-bar-item w3-button"}}
    {{link-to 'Foods' 'foods' class="w3-bar-item w3-button"}}
    {{link-to 'About' 'about' class="w3-bar-item w3-button"}}
    {{link-to 'Contact us' 'contact' class="w3-bar-item w3-button"}}
  </div>


  {{outlet}}

</div>
