  <div class="{{if food.isAvailable ' ' 'not-available'}} w3-card-3 w3-border ">
    <details>
      <summary class="w3-container w3-theme-l4">
        <span>{{food.excitedName}} </span>
        <div class='itemButtons'>
          {{#if (can-edit-food food.restaurant.user.id)}}
            <i {{action "destroyItem" food}} class="fa fa-trash" aria-hidden="true">&nbsp;</i>
            {{#link-to 'foods.food.edit' food.id}}<i class='fa fa-pencil-square-o' aria-hidden='true'></i>{{/link-to}}
            <i {{action "toggleAvailablity" food}} class="fa fa-sign-{{if food.isAvailable 'out' 'in'}}" aria-hidden="true"></i>
          {{/if}}
        </div>
      </summary>

      <div class="w3-container">
        {{icon-image food.imageUrl float='left'}}
        {{food.description}}
        <br/>
        <span>Health Rating: {{food.healthRating}} </span>
        <br/>
        {{food.restaurant.id}} - {{food.restaurant.name}}

      </div>
    </details>
  </div>
