<div class="post w3-card">

  <header class="w3-container w3-theme-l1">
    <h4>{{post.title}}</h4>
  </header>
  {{#if isEditting}}
    {{#with (changeset post) as |changeset|}}
      <div class="w3-container">
        <p>
          Title:  {{input type='text' value=changeset.title placeholder='Enter Title'}} <br/>
          Post:  {{textarea value=changeset.body placeholder='Enter Body'}}
        </p>
      </div>
      <footer class="w3-container w3-theme-l4 w3-padding-small">
        <div class="pull-right" style="float:right; margin-right:1em;">
          <button {{action 'savePost' changeset}} class="w3-button w3-green w3-round w3-padding-small">Save</button>
          <button {{action 'toggleEdit' }} class="w3-button w3-gray w3-padding-small">Cancel</button>
          <button {{action 'deletePost' post}} class="w3-button w3-red w3-padding-small">Delete</button>
        </div>
      </footer>
    {{/with}}
  {{else}}
    <div class="w3-container">
      {{markdown-to-html post.body}}
    </div>
    <footer class="w3-container w3-theme-l4 w3-padding-small">
      <div class="pull-left" style="float:left;">
        {{#link-to "post" post.id }}Focus{{/link-to}}
      </div>

      <div class="pull-right" style="float:right; margin-right:1.5em;">
        <button {{action 'toggleEdit'}}  class="w3-button w3-green w3-round w3-padding-small">Edit</button>
        <button {{action 'deletePost' post}} class="w3-button w3-red w3-round w3-padding-small">Delete</button>
      </div>
    </footer>
  {{/if}}
</div>
<div class="w3-panel w3-card w3-theme-l2" style="margin-top:-.1em;">
  No comments yet...  <a href="#">Be the first</a>!
  <div class="w3-panel w3-card">
    This is a comment
  </div>

</div>
