<div class="post">

  <h3>{{post.title}}</h3>
  <p>
    {{markdown-to-html post.body}}
  </p>
  <div class="pull-right" style="float:right; margin-right:1em;">
    {{#if edditing}}
      <button {{action 'savePost' model.post}} >Save</button>
    {{else}}
      <button {{action 'editPost'}} >Edit</button>
    {{/if}}
    <button {{action 'deletePost' model.post}}>Delete</button>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>
