<div class="sidebar-folder">
  <div style="float:left;" class="expander clickableIcon" {{action 'toggleExpansion'}}>
    {{if isExpanded '-' '+'}}
  </div>

  {{editable-folder folder=folder type=type}}

  <div class='expanded-content' style="clear:both;">
    {{#if isExpanded}}
      <div>
        {{#each folder.folders as |folder|}}
          {{expandable-folder folder=folder type=type}}
        {{/each}}
        {{#each folder.files as |file|}}
          {{editable-file file=file}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
