<div class="sidebar-folder">
  <span class="expander clickableIcon" {{action 'toggleExpansion'}}>
    {{if isExpanded '-' '+'}}
    {{folder.name}}
  </span>
  <div class='expanded-content'>
    {{#if isExpanded}}
      {{#each folder.folders as |folder|}}
        {{expandable-folder folder=folder}}
      {{/each}}

      <div class='expanded-content'>
        {{#each folder.files as |file|}}
          <div>{{file.name}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
